<% if issue && issue.project.trackers.any? { |t| t.name == 'GitHub' } %>
  <% tab_selected = (controller.params[:tab] == 'github') %>
  <li>
    <%= link_to l(:label_github), issue_path(issue, :tab => 'github'), :class => (tab_selected ? 'selected' : '') %>
  </li>
<% end %>

